[user]
	name = Cody Coons
	email = cody@codycoons.com
[core]
	excludesfile = ~/.global_gitignore
	editor = vim
[color]
	ui = true
[push]
	default = simple
[alias]
	co = checkout
	lg = log --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr)%Creset' --abbrev-commit --date=relative
